/* TransactionApp.css */
.grid-container {
    width: 300px;
    height: 100px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: black; /* 设置整体背景颜色为黑色 */
    color: white; /* 设置文字颜色为白色 */
    margin-bottom: 0px;
}

.transaction-list {
    list-style-type: none; /* 移除列表项的标志（bullet mark） */
    padding: 0;
}

.table-container {
    height: auto;
}

.transaction-list-container {
    height: 300px;
    overflow-y: auto; /* 添加垂直滚动条，当内容溢出时 */
}

.button{
    color: black;
    width: 50%;
    margin-top: 0px;
}

.buy-button {
    background-color: #11ff66;
}

.sell-button {
    background-color: #ff5555;
}

.clear-button {
    background-color: #ffffff;
}

.positive {
    color: green;
}

.negative {
    color: red;
}

.button-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.bordered-table {
    border-collapse: collapse; /* 合并表格边框 */
    width: 100%; /* 可选，设置表格宽度 */
}

.bordered-table tr, .bordered-table td {
    border: 1px solid #ffffff; /* 设置边框样式 */
    padding: 8px; /* 可选，设置单元格内边距 */
}

.bordered-table th {
    border: 1px solid #ffffff; /* 可选，设置表头单元格边框 */
    background-color: #f2f2f2; /* 可选，设置表头背景颜色 */
}